.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Map{
  border: 1px solid black;
}

.Popup {
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.Hoverover {
    pointer-events: none;
    width: 75%;
}

.Hover {
    width: inherit;
    height: inherit;
    display: inline-block;
}


.scrolling-items:focus{
  outline: 0
}
.menu-item {
  padding: 0 20px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
  outline-style: none;
}
.menu-item:focus{
  outline: 0
}
 
.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.drawArea {
    position: absolute;
    width: 30%;
    height: 50%;
    margin-left: 35%;
    margin-top: 0px;
    border: 1px solid black;
    float: left;
    cursor: crosshair;
    z-index: 1;
}

.path {
    fill: none;
    stroke-width: 1px;
    stroke: black;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.drawing {
    width: 100%;
    height: 100%;
}